@font-face {
    font-family: 'Walshein_regular';
    src: url('../fonts/GT-Walsheim-Pro-Regular.eot');
    src: url('../fonts/GT-Walsheim-Pro-Regular.woff') format('woff'),
    url('../fonts/GT-Walsheim-Pro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Walshein_light';
    src: url('../fonts/GT-Walsheim-Pro-Light.eot');
    src: url('../fonts/GT-Walsheim-Pro-Light.woff') format('woff'),
    url('../fonts/GT-Walsheim-Pro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Walshein_bold';
    src: url('../fonts/GT-Walsheim-Pro-Bold.eot');
    src: url('../fonts/GT-Walsheim-Pro-Bold.woff') format('woff'),
    url('../fonts/GT-Walsheim-Pro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Walshein_black';
    src: url('../fonts/GT-Walsheim-Pro-Black.eot');
    src: url('../fonts/GT-Walsheim-Pro-Black.woff') format('woff'),
    url('../fonts/GT-Walsheim-Pro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Walshein_medium';
    src: url('../fonts/GT-Walsheim-Pro-Trial-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheim_pro_trialblack';
    src: url('../fonts/gt-walsheim-pro-trial-black-webfont.eot');
    src: url('../fonts/gt-walsheim-pro-trial-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gt-walsheim-pro-trial-black-webfont.woff2') format('woff2'),
    url('../fonts/gt-walsheim-pro-trial-black-webfont.woff') format('woff'),
    url('../fonts/gt-walsheim-pro-trial-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@media screen and (max-width: 1240px){
    header .telephone{
        display: none;
    }
}
@media screen and (max-width: 1140px){
    .catalogIcon, .basketIcon{
        display: none;
    }
}
@media screen and (max-device-width: 414px){
    body{
        width:1500px;
    }
    .slideWrapp .catalogWrapper {
        width: 100%;
        margin-left:175px;
    }
    .slideWrapp .firstSlide {
        width:1500px !important;
    }
}
body{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0;
}

/***********************/

.landing{
    position: relative;
    min-width: 1024px;
	width:100%;
    margin: 0 auto;
    background: #fff;
}

.landing .hintWrapp {
	text-align: center;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.landing .bookPrice {
   text-align: left;
    padding: 20px 0 0;
}
.landing .bookPrice span {
    position: relative;
}
.landing .bookPrice span:before {
   content: "";
    width: 100%;
    height: 1px;
    background: #ff4126;
    position: absolute;
    top: 50%;
    left:0;
}
.landing .recomendation .saleSlider {
    padding: 10px 0 5px;
}
.landing .section_item_img img {
    box-shadow: 0 0 7px 4px #c9c9c9;
}
.landing .recomendation li {
    width: 175px;

}
.landing .recomendation li .bookWrapp {
   width: 141px;
    margin: 0 auto;
}
.landing .recomendation li .bookWrapp img {
    width: 141px;
    height: 209px;
}
.landing .section_item_img img {
    width: 141px;
    height: 209px;
}
.landing .footer {
    text-align: center;
    background: #fff;
    position: relative;

}
.landing .footer img {
    margin: -130px 0 0 40px;
}
/******************/
.menu li a{
    text-decoration: none;
    color: #7b8c90;
    font-family: "Walshein_regular";
    font-size: 14px;
}
header{
    background-color: #ffffff;
    height: 58px;
    position: relative;
    color: #7B8C90;
    font-size: 14px;
    font-family: "Walshein_regular";
}
header .lkWrapp{
    position: absolute;
    right: 0;
    top: 0;
}
.headerWrapper{
    margin: 0 auto;
    position: relative;
    width: 700px;
    text-align: center;
}
header .menu{
    padding-top: 18px;
}
header a {
    color: #7B8C90 !important;
}
header .telephone{
    float: left;
    padding-right: 34px;
    padding-top: 18px;
}
.catalog_text {
    font-family: "Walshein_regular";
    color: #E4E8EA;
    position: absolute;
    left: 85px;
    top: 25px;
    font-size: 15px;
}
.logo {
    height:60px;
    width:120px;
    position:absolute;
}
.logo img {
    position:absolute;
    left:60px;
    top:10px;
}
.lkWrapp div{
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    float: right;
    height: 41px;
    padding: 17px 18px 0;
}
header .headBasket{
    padding: 17px 1px 0;
}
.menu li{
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}
.mainWrapp{
    background-color: #ffffff;
    position: relative;
	overflow:hidden;
}
.bookWrap {
	display:inline-block;
	width:auto;
	height:auto;
	padding:20px;
}
.bookWrap a {
	text-decoration:none;
}
.diff {
	font-size: 14px!important;
}
.newprice{
	color:green!important;
}
.bookWrap img {
	width:160px;
	box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.18), 0 10px 7px 0 rgba(0, 0, 0, 0.14);
}
.bookWrap p {
	padding: 10px 0 0;
}
.bookWrap span {
	color: #7b8c90;
	font-family: "Walshein_regular";
	font-size: 16px;
	position: relative;
	padding-top:15px;
	
}
.bookWrap .oldprice::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #ff4126;
    position: absolute;
    top: 68%;
    left: 0;
}
.bookWrap .oldprice {
	font-size:14px;
}