#bookInBlogWrap{overflow:hidden;width:100%;max-width:990px;margin:0 auto 10px}
#bookInBlogWrap .title{font-size:48px;padding:40px 0 20px;text-align:center;color:#3f4a4d}
#bookInBlogWrap .bookInBlog ul{width:auto!important}
#bookInBlogWrap .bookInBlogPosts{text-align:left}
#bookInBlogWrap .bookInBlogPost{display:inline-block;margin:10px;width:100%;max-width:290px;float:left}
#bookInBlogWrap .bookInBlogPost img{transition:box-shadow .4s ease;width:100px;margin-bottom:15px;margin-right:15px;float:left;border-radius:4px}
#bookInBlogWrap .bookInBlogPost .name{color:#3f4a4d;text-decoration:none;font-family:Walshein_light;font-size:16px;text-align:left;padding-bottom:15px}
#bookInBlogWrap .bookInBlogPost .name span{border-bottom:none}
#bookInBlogWrap .bookInBlogPost:hover img{box-shadow:0 15px 18px 0 rgba(0,0,0,.18), 0 15px 18px 0 rgba(0,0,0,.14)}
#bookInBlogWrap .bookInBlogPost:hover .name span{border-bottom:1px solid #00abb8}
#bookInBlogWrap .bookInBlogPost .date {background:#fff;opacity:0.9;color:#000;position:absolute;padding:6px;z-index:100000;font-size:14px}
#bookInBlogWrap .bookInBlogPost .cat{color:#00abb8;font-size:15px;font-weight:700;padding-left:27px}
#bookInBlogWrap .mainPostInBlog{max-width:600px}
#bookInBlogWrap .mainPostInBlog img{width:380px}
#bookInBlogWrap .mainPostInBlog .name{font-size:18px}
#bookInBlogWrap .mainPostInBlog .date {font-size:18px;padding:12px}
#bookInBlogWrap .mainPostInBlog .cat{font-size:17px}