div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.date {
    background: #fff;
    opacity: 0.8;
    color: #000;
    position: absolute;
    padding: 10px;
    z-index: 100000;
}