.mainRecs {
	margin: 20px auto 50px;
	width:100%;
}
.mainRecs ul {
	margin:0;
}
.mainRecs .rec {
	display:inline-block;
	margin: 0 20px 0 0;
	max-width:200px;
	text-align:center;
	vertical-align:top;
}
.mainRecs .rec img {
	padding:20px 0 10px;
	filter: none;
}
.mainRecs .rec img:hover {
	filter: grayscale(0.4);
}
.mainRecs .rec .title {
	font-size:16px;
	font-family:Walshein_light;
	color:#222;
	text-decoration:none;
}
.mainRecs .rec .title:hover {
	text-decoration:underline;
}
h2 {
	color: #3f4a4d;
    font-size: 32px;
	text-align:center;
	font-family: Walshein_light;
	font-weight: 400;
}