table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 10px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}
.howToBasketWrapper,
.howToCatalogWrapper{
    display:none;
}
.form-table tfoot input {
    border: 2px solid #c7a271;
    border-radius: 40px;
    color: #c7a271;
    font-family: "Walshein_regular";
    font-size: 14px;
    margin: 16px auto 0;
    padding: 6px 5px;
    text-align: center;
    width: 122px;
    background-color: #fff;
    cursor: pointer;
}
.form-table tfoot input:hover {
    border-color: #00A0AF;
    background-color: #00A0AF;
    color: #fff;
}
.form-table tfoot th {
    text-align: center;    
}
.howToBodyWrap p{
    text-align: center; 
}
.form-table input[type="text"], .form-table textarea {
    background: #fff;
    border: 1px solid #c1c5c8;
    border-radius: 2px;
    color: #000;
    box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5)!important;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    font-size: 14px;
    padding: 6px 8px!important;
    margin-bottom: 3px;
}
.g-recaptcha > div {
    margin: 0 auto;
}