.delivMenuWrapp a{
    text-decoration: none;
}
@media screen and (max-width: 1680px) {
    .ContentcatalogIcon, .ContentbasketIcon {
        display:none;
    }
}

body {    
    background: #f1f1f1;
}

.headerBackroundImage {
    background: url(images/headerPhoto3.jpg) no-repeat;
    height: 538px;
    width: 100%;
    float:left;
    background-size: cover;
}

.headerLogo {
    margin:auto;
    margin-top: 190px;
    width: 525px;
    height: 135px;    
}

.headerText {
    text-align: center;
    font-size: 48px;
    font-family: 'Walshein_thin';
    color: #e1e1e1;
    font-weight: 100;
    line-height: 48px;
    margin:auto;
    margin-top: 50px;
    width: 850px;    
}

.headerPublisherRibbon {
    background: url(images/RedRibbon.png);
    height: 45px;
    width: 404px; 
    margin:auto;
    margin-top: 190px;
    text-align: center;
    color: #ffffff;
    font-family: 'Walshein_regular';
    font-size: 16px;
    line-height: 45px;
}

.contentWrapper {
    margin-top: 56px;
    margin-bottom: 101px;
    width: 100%;
    float:left;
    background: #f1f1f1;
}

.contentWrapper .howToBodyWrap{
    background-color: #f1f1f1;    
}
.contentWrapperPage{
    padding-top: 56px;
    width: 100%;
    float:left;
    background: #f4f4f4;
}

.contentPress h2{
    color: #414141;
    font-family: 'Walshein_regular';
    font-size: 36px;
    line-height: 60px;
}

.contentPress h3{
    color: #de532d;
    font-family: 'Walshein_bold';
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 12px;    
}

.contentPress h3:first-of-type{
    margin-top: 88px;  
}

.contentPressList{
    padding-bottom: 70px;   
}
.contentPressListText{
    color: #414141;
    font-family: 'Walshein_regular';
    font-size: 24px;    
    line-height: 29px;    
}

.contentPress p{
    color: #414141;
    font-family: 'Walshein_regular';
    font-size: 24px;    
    line-height: 36px;
}

.contentPress a{
    color: #414141;
    font-family: 'Walshein_regular';
    font-size: 24px;    
    line-height: 36px;
    text-decoration: underline;
    text-decoration-color: #7a7a7a;  
}

.contentBlocks {
    width: 1171px;
    margin: auto;
}

.contentPress {
    width: 1171px;
    margin: auto;
}

.contentBlock {
    width: 580px;
    height: 400px; 
    border: 1px solid #e9e9e9;
    border-radius: 4px; 
    background: #fbfbfb;
    box-sizing: border-box; 
    float: left;
}

.contentBlock:nth-child(even) {
    float: right;
}

.contentBlock:nth-child(n+3) {
    margin-top: 10px;
}

.contentBlockBar {
    width: 580px;
    height: 400px; 
    border: 1px solid #e9e9e9;
    border-radius: 4px; 
    background: #fbfbfb;
    box-sizing: border-box; 
}

.contentBlockLogo {
    width: 100%;
    height: 197px; 
    text-align: center;
    display: block;   
    position: relative;    
}

.contentBlockLogoImage {
    max-width: 500px;
    max-height: 200px;
    position: absolute;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
}

.contentBlockLine {
    height: 2px;
    width: 39px; 
    background: #414141;
    margin: auto;   
}

.contentBlockText {
    color: #343434;
    font-family: 'Walshein_regular';
    font-size: 16px;
    line-height: 19px;
    height: 172px;
    text-align: center; 
    padding-top: 12px;
    padding-right: 40px;
    padding-left: 40px;  
}

.footerOverLine {
    padding: 69px 0 67px 0;
    border-bottom: 1px solid #4B4B4B; 
    overflow: hidden;   
}


.footerInlineMenu {
    float: left; 
    color: #cecece;
    font-family: 'Walshein_medium';
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
}

.footerInlineMenu li {
    display: inline;
    margin-right: 25px;
}

.footerInlineMenu a {
    color: #cecece;
}
.footerInlineInfo {
    float: right; 
    color: #737373;
    width: 420px;
    font-family: 'Walshein_regular';
    font-size: 16px;
    line-height: 19px;
	margin-top:30px;
}   

.footerUnderLine {
    padding: 50px 0;    
}

.footerImageLinks {
    float: left;    
}

.footerImage {
    margin-left: 32px;
    display: inline-block;
}

.footerImage:first-child {
    margin-left: 0px;
}

.footerImageLinks .yaMarket p {
    color: #5F5F5F;
    font-family: "Walshein_regular";
    font-size: 9px;
}

.footerImageLinks .yaMarket {
    width: 150px;
    margin-left: 32px;
    margin-right: 0px;
    display: inline-block;
}

.footerUnderLine .webServ {
    float:right;
    margin-left: 140px;
}

footer {
    height: 400px;
}