h3{font-size:32px!important;margin:60px 0 30px;font-weight:400!important}
h3 .main {font-family:Walshein_black}
h3 a {color:#00ABB8!important;font-size:16px!important}
#teamMembersWrap{width:850px;padding-bottom:160px;color:#3f4a4d;font-size:17px;margin:auto;overflow:hidden;float:right;width:100%;max-width:1000px}
#teamMembers{}
.teamMember{display:inline-block;width:100%}
.teamMember img{padding:0 30px 10px 0}
.teamMember .position{text-transform:lowercase;font-size:21px}
.teamMember .descriptionTitle{font-size:18px;display:block;font-family: Walshein_black}
.teamMember .description a {color:#3f4a4d;text-decoration:none;border-bottom:1px solid #00ABB8}
.teamMember .description a:hover {border-bottom:none}
.historyMenuWrap{float:left;margin-top:67px}